{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
   <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@250&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/MDB/css/mdb.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/base.css' %}">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark indigo">
      <a class="navbar-brand" href="{% url 'home' %}">
          Home <span class="sr-only">(current)</span>
      </a>
        <a class="nav-item text-white pl-3" href="{% url 'history' %}">
          History
      </a>
    </nav>
</body>
</html>