<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Spam Detector</title>
    <script src="{% static 'assets/js/script.js' %}"></script>

    {% block base_head %}{% endblock %}


</head>
<body class="body">
{% include "base/navbar.html" with base_name='SpamHam' %}
<div class="container">
    {% block content %}
    {% endblock %}
</div>
</body>

</html>
