<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete</title>
</head>
<body>
{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron mt-5">
        <h1>Delete email</h1>
        <form action="" method="post">{% csrf_token %}
            <p>Are you sure you want to delete <br>"{{ email.content }}"?</p>
            <input class="btn btn-danger" type="submit" value="Confirm" />
        </form>
    </div>
{% endblock content %}
</body>
</html>